::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-current);
  border-radius: 6px;
}

::-webkit-scrollbar-corner {
  background: red;
  padding: 10px;
  width: 10px;
  height: 10px;
  margin: 10px;

}
